server {
{% if allow_insecure %}
    listen 80 {% if use_by_default %}default_server{% endif %};
    listen [::]:80 {% if use_by_default %}default_server{% endif %};
{% endif %}
    listen 443 ssl http2 {% if use_by_default %}default_server{% endif %};
    listen [::]:443 ssl http2 {% if use_by_default %}default_server{% endif %};

    server_name {{ site_domain }};

    # SSL
    ssl_certificate         {{ server_cert }};
    ssl_certificate_key     {{ server_cert_key }};
{% if server_cert_chain is defined %}
    ssl_trusted_certificate {{ server_cert_chain }}/chain.pem;
{% endif %}

{% if client_ca_cert %}
    # Client cert verification
    ssl_client_certificate {{ client_ca_cert }};
    # Make verification optional, so we can display a 403 message to those who fail authentication
    ssl_verify_client      optional;
{% endif %}

    # security
    include nginxconfig.io/security.conf;
{% if not disable_csp %}
    # Note this appears here instead of security.conf because it has to be disabled in some cases, e.g. Grafana
    add_header Content-Security-Policy   "default-src 'self' http: https: data: blob: 'unsafe-inline'" always;
{% endif %}

    # logging
    access_log /var/log/nginx/{{ site_domain }}.access.log;
    error_log  /var/log/nginx/{{ site_domain }}.error.log warn;

{% if allow_insecure and enable_http01_challenge %}
    # ACME-challenge
    location ^~ /.well-known/acme-challenge/ {
        root {{ http01_challenge_path }};
    }
{% endif %}

    # reverse proxy
    location / {
        proxy_pass {{ proxy_url }};

{% if not use_proxy_host %}
        proxy_set_header Host $host;
{% endif %}

        include nginxconfig.io/proxy.conf;

{% if extra_config %}
        {{ extra_config }}
{% endif %}

{% if client_ca_cert %}
        if ($ssl_client_verify != SUCCESS) {
            return 403;
        }
{% endif %}
    }

    # additional config
    include nginxconfig.io/general.conf;
}

{% if not allow_insecure %}
# HTTP redirect
server {
    listen 80 {% if use_by_default %}default_server{% endif %};
    listen [::]:80 {% if use_by_default %}default_server{% endif %};

    server_name {{ site_domain }};

{% if enable_http01_challenge %}
    # ACME-challenge
    location ^~ /.well-known/acme-challenge/ {
        root {{ http01_challenge_path }};
    }
{% endif %}

    location / {
        return 301 https://{{ site_domain }}$request_uri;
    }
}
{% endif %}