server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ site_domain }};
    root /var/www/{{ site_domain }}/public;

    # SSL
    ssl_certificate {{ server_cert }};
    ssl_certificate_key {{ server_cert_key }};
{% if server_cert_chain is defined %}
    ssl_trusted_certificate {{ server_cert_chain }}/chain.pem;
{% endif %}

    # security
    include nginxconfig.io/security.conf;

    # logging
    access_log /var/log/nginx/{{ site_domain }}.access.log;
    error_log /var/log/nginx/{{ site_domain }}.error.log warn;

    # reverse proxy
    location / {
        proxy_pass {{ proxy_url }};
        include nginxconfig.io/proxy.conf;
    }

    # additional config
    include nginxconfig.io/general.conf;
}

# HTTP redirect
server {
    listen 80;
    listen [::]:80;

    server_name {{ site_domain }};

    location / {
        return 301 https://{{ site_domain }}$request_uri;
    }
}