server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ site_domain }};

    # SSL
    ssl_certificate {{ server_cert }};
    ssl_certificate_key {{ server_cert_key }};
{% if server_cert_chain is defined %}
    ssl_trusted_certificate {{ server_cert_chain }}/chain.pem;
{% endif %}

{% if client_ca_cert %}
    # Client cert verification
    ssl_client_certificate {{ client_ca_cert }};
    # Make verification optional, so we can display a 403 message to those who fail authentication
    ssl_verify_client optional;
{% endif %}

    # security
    include nginxconfig.io/security.conf;

    # logging
    access_log /var/log/nginx/{{ site_domain }}.access.log;
    error_log /var/log/nginx/{{ site_domain }}.error.log warn;

    # reverse proxy
    location / {
        proxy_pass {{ proxy_url }};

{% if not use_proxy_host %}
        proxy_set_header Host $host;
{% endif %}

        include nginxconfig.io/proxy.conf;

{% if client_ca_cert %}
        if ($ssl_client_verify != SUCCESS) {
            return 403;
        }
{% endif %}
    }

    # additional config
    include nginxconfig.io/general.conf;
}

# HTTP redirect
server {
    listen 80;
    listen [::]:80;

    server_name {{ site_domain }};

    location / {
        return 301 https://{{ site_domain }}$request_uri;
    }
}